@font-face {
    font-family: 'Avenir Next';
    src: url('fonts/avenir-next-regular.eot');
    src: url('fonts/avenir-next-regular.eot') format('embedded-opentype'),url('fonts/avenir-next-regular.woff') format('woff'), url('fonts/avenir-next-regular.ttf') format('truetype'), url('fonts/avenir-next-regular.svg#avenir-next-regular') format('svg');
    font-weight: 400
}

@font-face {
    font-family: 'Avenir Next';
    src: url('fonts/avenir-next-medium.eot');
    src: url('fonts/avenir-next-medium.eot') format('embedded-opentype'),  url('fonts/avenir-next-medium.woff') format('woff'), url('fonts/avenir-next-medium.ttf') format('truetype'), url('fonts/avenir-next-medium.svg#avenir-next-medium') format('svg');
    font-weight: 500
}

@font-face {
    font-family: 'Avenir Next';
    src: url('fonts/avenir-next-demi.eot');
    src: url('fonts/avenir-next-demi.eot') format('embedded-opentype'), url('fonts/avenir-next-demi.woff') format('woff'), url('fonts/avenir-next-demi.ttf') format('truetype'), url('fonts/avenir-next-demi.svg#avenir-next-demi') format('svg');
    font-weight: 600
}

@font-face {
    font-family: 'Avenir Next';
    src: url('fonts/avenir-next-bold.eot');
    src: url('fonts/avenir-next-bold.eot') format('embedded-opentype'),  url('fonts/avenir-next-bold.woff') format('woff'), url('fonts/avenir-next-bold.ttf') format('truetype'), url('fonts/avenir-next-bold.svg#avenir-next-bold') format('svg');
    font-weight: 700
}